.about {
    border-left: 24px solid var(--branding);
    margin: 5rem 5rem 5rem 0;
    display: grid;
    overflow: hidden;
}

.img-about {
    margin: 0;
}


.text-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
}

.title-about {
    font-family: var(--font-1);
    color: var(--color6);
    font-size: 3.9rem;
    font-weight: 400;
    text-align: start;
    line-height: 4.5rem;
    
}

.title-about span {
    color: var(--branding)
}

.p-about {
    font-family: var(--font-2);
    font-size: 1.6rem;
    color: var(--color6);
    padding-top: 1rem;
}

.btn-about {
    margin: 3rem 0rem;
    align-self: start
}


@media screen and (min-width: 984px){

.about {
    margin: 5rem 5rem 5rem 0;
    display: grid;
    grid-template-columns: 51% 49%;
}

.text-about {
    margin: 0;
}

.p-about {
    padding-top: 4rem;
}

.img-about {
    margin: 0 14rem;
}

}