.contact {
    display: grid;
    overflow: hidden;
}

.first-gray {
    background-color: var(--color2);
    padding: 5rem;
}

.second-gray {
    background-color: var(--color1);
    padding: 5rem 0;
}

form {
    height: 100%;
}

.img-contact {
    right: 0;
    position: unset;
    margin-top: 0;
    }


@media screen and (min-width: 984px){

.contact{
    /* margin: 5rem 5rem 5rem 0; */
    display: grid;
    grid-template-columns: 70% 30%;
    }

.first-gray {
    padding: 6rem 6rem 10rem 6rem; /* ver 50 con el form*/
}

.second-gray {
    
    padding: 15rem 0;
}

form {
    height: 400%;
    
}

.img-contact {
    right: 0%;
    position: absolute;
    margin-top: -5rem;
    }
}

@media screen and (min-width: 1250px){

    .img-contact {
        right: 8%;
        position: absolute;
        margin-top: -5rem;
        }

}