.details {
    text-align: center;
    padding: 3rem;
}

.idetails {
    display: flex;
    padding: 2rem 0;
}

.p-details {
display: flex;
align-self: center;
padding-left: 2rem;
text-align: start;
}


@media screen and (min-width: 984px){

    .details {
        padding: 8rem;
    }
    
    .idetails {
        display: flex;
        padding: 2rem 6rem;
    }

    .icons-details {
        display: grid;
        grid-template-columns: 50% 50%;
    }

}