body {
    margin: 0;
    border: 0;
    padding: 0;
}

.products {
    background-color: var(--color1);
    text-align: center;
    padding: 6rem 2rem;
}


.p-products {
    color: var(--branding);
    font-family: var(--font-1);
    font-weight: 500;
    font-size: 2.1rem;
}

.cards {
    margin-top: 3rem;
    width: 100%;
    display: block;
    justify-content: flex-end;
}

.slick-slide {
    width: 80%;
}


.card {
    /* border-bottom: 8px solid #E0752F; */
    background-color: var(--white);
    border-left: 30px solid var(--color1);
    border-right: 30px solid var(--color1);
    display: grid;
    z-index: 10;
    justify-content: center;
    margin: 0;
    padding: 2rem 1rem;
    text-align: start;
  }
  
.card h5 {
    padding: 1rem 1rem 0 1rem ;
    font-size: 21px;
    margin: 1rem 0.5rem;
 
  }
  
.card ul li {
    list-style: none;
    padding: 1rem 2rem;
    
  }

  .slick-next {
    right: -5px;
    z-index: 100;
    border-radius: 50px;
  /*   width: 30px;
    height: 30px; */
}

.slick-prev {
    left: -5px;
    z-index: 100;
    border-radius: 50px;
    /* width: 30px;
    height: 30px; */
}

@media screen and (min-width: 984px){

.products {
    padding: 10rem;
}

.cards {
    margin-top: 5rem;
}

.card {
    margin: 0;
    border-left: 40px solid var(--color1);
    border-right: 40px solid var(--color1);
    padding: 2rem 3rem;
}

}