/*var*/

:root {
  --white: #ffffff;
  --black: #101526;
  --color1: #DCE1DA;
  --color2: #F2F4F1;
  --color3: #BEBEBE;
  --color4: #5F6368;
  --color5: #B1B7AEE6;
  --color6: #343434;
  --color7: #1D1D1B;
  --branding: #E0752F;
  --font-1: 'Poppins', sans-serif;;
  --font-2: 'Roboto', sans-serif;
}

/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%; /*reset para rems 1rem = 10px*/
}

body{
  font-size: 1.8rem;
  font-family: var(--font-2);
}

/*Botones*/

.btn{
  background-color: var(--branding);
  color: var(--white);
  border-radius: 20px;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: 0;
  cursor: pointer;
}


/*Generales*/

h2{
  font-family: var(--font-1);
  color: var(--color6);
  font-size: 3.9rem;
  font-weight: 400;
}

p {
  font-family: var(--font-2);
  font-size: 1.6rem;
  color: var(--color6); 
}

/* img{
  object-fit: cover;
  object-position: center;
} */

@media screen and (min-width: 984px){

  .btn {
    padding: 1.2rem 2.8rem;
    font-size: 1.6rem;
  }

}